*{ touch-action: none; }

#target a:hover .st0{
  fill: #f39c12;
}

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#CCCCCC;}
#target a:focus .st0{
  fill: #f39c12;
}

#target a:active .st0{
  fill: #f0932b;
}

#target .on {
  fill: pink;
  stroke: red;
  stroke-width: 2;
}

.checked{fill:#f39c12}

.active{fill:red}

body {
  padding: 20px;
}

html {
    overflow-y: hidden;
}
